<html>
  <head>
    <title>Your Details</title>
    <link rel="stylesheet" href="{{ url_for('static', path='form.css') }}">
  </head>
<body>
  <form id="form" method="PUT">
    <input type="text" name="name" placeholder="Enter name">
    <input type="text" name="email" placeholder="Enter email">
    <input type="text" name="phone" placeholder="Enter phone number">
    <button type="submit">Submit</button>
  </form>
<script src="{{ url_for('static',path='put_call_back.js') }}" ></script>
</body>
</html>
